.FPost {
  width: 100%;
  flex-grow: 1;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: rgb(199, 199, 199);
}
.f-post-form {
  width: 60%;
  min-width: 320px;
  min-height: 500px;
  max-width: 600px;
  background-color: white;
  margin-top: 100px;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(10, 58, 6, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1200px) and (max-width: 5000px) {
}
@media all and (min-width: 1000px) and (max-width: 12000px) {
  .f-post-form {
    width: 50%;
    /*height: 40%;*/
  }
}

@media all and (min-width: 768px) and (max-width: 1000px) {
  .f-post-form {
    width: 60%;
    /*height: 50%;*/
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .f-post-form {
    width: 80%;
    /*height: 50%;*/
  }
}

@media all and (max-width: 480px) {
  .f-post-form {
    width: 100%;
    margin-top: 0px;
    max-height: 700px;
    flex-direction: column;
    position: relative;
    margin-bottom: 0;
    align-items: center;
    box-shadow: rgba(10, 58, 6, 0.13) 0px 10px 20px,
      rgba(0, 0, 0, 0.2) 0px 4px 4px;
  }
  /*.post-form {
    width: 90%;
    display: flex;
    min-height: 500px;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
  }*/
}
