@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: rgb(48, 48, 48);
}
html {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body #root {
  width: auto;
  height: auto;
  font-size: 1rem;
  overflow-x: hidden;
  /*border: 2px solid red;*/
}
h1 {
}
h2 {
}
h3 {
}
a {
}
ul {
}
ol {
}
li {
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 114, 44, 0.349);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(1, 177, 16, 0.699);
}
