@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: rgb(48, 48, 48);
}
html {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body #root {
  width: auto;
  height: auto;
  font-size: 1rem;
  overflow-x: hidden;
  /*border: 2px solid red;*/
}
h1 {
}
h2 {
}
h3 {
}
a {
}
ul {
  list-style-type: none;
}
ol {
  list-style-type: none;
}
li {
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(104, 104, 104, 0.349);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 121, 10, 0.499);
}

/*.InputOne {
  width: auto;
  height: auto;
  display: flex;
  background: transparent;
}
.InputOne label {
  position: absolute;
  transform: translateX(999999999px);
}
.InputOne input {
  padding: 0.7em;
  font-size: 1.1rem;
  letter-spacing: 2px;
  background-color: rgba(98, 129, 72, 0.267);
  border: 0;
  flex-grow: 1;
  margin-bottom: 1.4em;
  border-radius: 3px;
  position: relative;
}
.InputOne input:hover {
  background-color: rgba(152, 255, 149, 0.288);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.InputOne input:focus {
  outline: 0;
  border: 1px solid rgb(9, 112, 0);
}
.InputOne input::placeholder {
  color: rgba(0, 128, 0, 0.532);
  font-size: 0.9rem;
}*/

/*.ButtonOne {
  padding: 1em;
  color: green;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid green;
  width: 40%;
  align-self: center;
  transition: ease-in-out;
}

.ButtonOne:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}
.ButtonOne:active {
  background-color: green;
  color: white;
  outline: 1px solid white;
}
.ButtonOne:disabled {
  background-color: rgba(128, 58, 0, 0.247);
}*/
