.Register {
  width: 100%;
  height: 75%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.regform {
  width: 60%;
  min-width: 200px;
  min-height: 500px;
  background-color: transparent;
  margin-top: 100px;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(10, 58, 6, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.uiui {
  width: 40%;
  margin: 10px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.253);
  background: url('./user4.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 3px;
  position: relative;
}
.post-form {
  background-color: transparent;
  width: 60%;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
  flex-direction: column;
}
.locale2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.msg-err {
  color: rgba(226, 0, 0, 0.856);
  background: transparent;
  font-size: 0.8rem;
  margin: 0.5em;
  text-align: center;
}
.msg-suc {
  color: rgba(19, 17, 160, 0.733);
  background: transparent;
  font-size: 0.8rem;
  margin: 0.5em;
  text-align: center;
}
.l-t-signup {
  font-size: 0.8rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: green;
}
.l-t-home {
  font-size: 0.8rem;
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
  color: green;
}
/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1200px) and (max-width: 5000px) {
  .regform {
    width: 50%;
    /*height: 50%;*/
  }
}
@media all and (min-width: 1000px) and (max-width: 12000px) {
  .regform {
    width: 50%;
    /*height: 40%;*/
  }
}

@media all and (min-width: 768px) and (max-width: 1000px) {
  .regform {
    width: 60%;
    /*height: 50%;*/
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .regform {
    width: 90%;
    /*height: 50%;*/
  }
}

@media all and (max-width: 480px) {
  .Register {
    /*height: 60%;*/
    width: 100%;
  }
  .regform {
    width: 100%;
    margin-top: 0px;
    flex-direction: column;
    position: relative;
    margin-bottom: 0;
    align-items: center;
    box-shadow: rgba(10, 58, 6, 0.13) 0px 10px 20px,
      rgba(0, 0, 0, 0.2) 0px 4px 4px;
  }
  .uiui {
    width: 100%;
    height: 100px;
  }
  .post-form {
    width: 90%;
    display: flex;
    min-height: 500px;

    flex-direction: column;
    justify-content: space-around;
    /*align-items: center;*/
    border-radius: 3px;
  }
}
